
.container{
    margin: 100px 10%;
    text-align: left;
}
.table1 th{
    color: red;
    font-size: larger;
    border:none;
    padding: 5px;
    background-color: white;
}
.table1 tr{
    margin: 50px 5px;
}
.table1 td{
    font-size: 1.2rem;
    border: none;
    padding: 0;
    text-align: left;
}
.timeTable table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
}
.table2{
    margin: 50px 0px;

}
.table2 th{
    text-align: center;
    font-size: 1.5rem;
    line-height: 2;
    color: rgb(7, 7, 107);
    background-color: white;
}
.table2 td{
    font-size: 20px;
    line-height: 1.5;
    padding: 10px 30px;
}
.app a{
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}
.app td{
    text-align: center;
}
.careful{
    text-align: center;
    font-weight: 700;
    color: #666;
}
.desclaimer{
    margin: 50px 0px;
    color: red;
}
@media(max-width: 480px){
    .container{
        font-size: 10px;
        margin: 20px 1%;
        text-align: left;
    }
    .table1 th{
        font-size: 10px;
    }
    .table1 tr{
        margin: 10px 1px;
    }
    .table1 td{
        font-size: 0.5rem;
        text-align: left;
    }
    .table2{
        margin: 50px 1px;
    }
    .table2 th{
        text-align: center;
        font-size: 0.5rem;
    }
    .table2 td{
        font-size: 5px;
        line-height: 1.5;
        padding: 10px 1px;
    }
    .table2 h3{
        font-size: small;
    }
    .app a{
        font-size: large;
    }
}
